
// General
@import "./general/variables.scss";
@import "./general/header.scss";
@import "./general/general.scss";
@import "./general/footer.scss";


// Pages
@import "./pages/home.scss";


// Media Queris
@import "./general/mediaqueris.scss";