/* =========================
   FOOTER
========================= */


.footer-wrapper {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  /* FRAME EXTERNO */
  .footer-frame {
    width: 100%;
    border: 1px solid $verde;
    border-radius: 30px;
    box-sizing: border-box;
  
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  
    padding: 40px 60px;
  }
  
  /* TEXTO IZQUIERDA */
  .footer-text {
    display: flex;
    gap: 80px;
    padding-top: 30px;
  }
  
  /* LISTAS */
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .footer-list p {
    color: $verde;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .footer-list a {
    color: $verde;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* LOGO DERECHA */
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    width: 220px;
    height: auto;
    display: block;
  }
  




  
  .derechos-reservados {
    padding: 20px 60px;
    background-color: $amarillofondo;
    box-sizing: border-box;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .derechos-reservados p {
    font-size: 14px;
    font-weight: 400;
    color: #5f5f5f;
    background-color: $amarillofondo;
    margin: 0;
  }
  
  .derechos-logos {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: $amarillofondo;
  }
  
  .derechos-logos img {
    height: 22px;
    width: auto;
    display: block;
  }
  
