* {
    background-color: $amarillofondo;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 78px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 14px;
}

h6{
    font-size: 20px;
}

/* Buttons */
.primario {
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 12px;
    border: 1px solid $verde;
    color: $verde;

    a {
        background-color: transparent;
        text-decoration: none;
        color: $verde;
        font-size: 12px;
        font-weight: 600;
        display: inline-block;
    }

    &:hover{
        background-color: #f0eade;
        a{
            background-color: #f0eade;
        }
        img{
            background-color: #f0eade;
        }
    }
}


.secundario {
    padding: 12px 24px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
    }
    img {
        background-color: none;
    }
    &:hover{
        background-color: #f0f0f0;
        a{
            background-color:  #f0f0f0;
        }
        img{
            background-color:  #f0f0f0;
        }
    }
    
}



@keyframes flotacion {
    0%{
        transform: translatey(2px);
    }  
    100%{
        transform: translatey(8px);
    }
}


