$fondo: #F9F9F9;
$blanco: #ffffff;
$amarillofondo: #F5F1E9;
$verde: #1F2622;
$primary: #CE3F15;


header {
    background-color: $amarillofondo;
    color: $verde;
    padding: 4px 40px; // 👈 vertical | horizontal
    font-size: 16px;
    width: 100%;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30000;
  
    display: flex;
    align-items: center;
    justify-content: space-between; // 👈 logo izquierda / botón derecha
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  
    img {
      background-color: $amarillofondo;
      display: block;
      width: 120px;
    }
  }
  
