
@media (max-width:1100px) {

    main{
        overflow-x: hidden;
    }
    header{
        padding: 16px;
        .navbar{
            width: 100%;
        }
        .puie-nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .navbar-brand{
            order: 2;
            position: absolute;
            left: 47%;
            top: 24px;
        }
        .navbar-toggler{
            border: none;
            background-color: #F9F9F9;
        }
        .button.nvbar-togg{
            background-color: #F9F9F9;
        }
    }

    #hero{
        .desk{
            display: none;
        }
        .mobile{
            display: flex;
        }
    }

    // Banner mobile
    
    .banner-home{
        width: 100%;
    }


    /* Seccion mayoristas-sobre nosotros mobile */

    #sobreNosotrosSection {
        flex-direction: column;
        width: 100%;
        .img-sobre-nosotros {
            width: 100%;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }
    

    .nosotros-mayoristas {
        order: 2;
        width: 100%;
        background-color: white;
        padding-bottom: 30px;
        h2 {
            margin-top: 50px;
            background-color: white;
        }
        p {
            background-color: white;
            padding: 6px 20px;
            font-size: 16px;
            line-height: 1.5;
        }
    }
    

    #tools {
        margin-top: 420px;
        padding: 200px 16px 70px 16px;
        align-items: center;
        display: flex;
        flex-direction: column;
        p {
            text-align: center;
            font-size: 20px;
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 20px;
        }
        .clientes-logos{
            width: 98%;
            flex-wrap: wrap;
            .foto-cliente {
                width: 26%;
                padding-right: 12px;
                padding-left: 12px;
                padding-bottom: 36px;
            }
        }
    }
    
    

    

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: top;
        background-color: white;
        padding: 20px 40px;
        ul{
            background-color: white;
            padding-top: 16px;
            padding-left: 0rem;
            li {
                font-size: 14px;
                font-weight: 600;
                background-color: #ffffff;
                color: #4B4B4B;
                padding-bottom: 12px;
                a {
                    color: #4B4B4B;
                    background-color: white;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
        }
        h1 {
            font-size: 16px;
            font-weight: 400;
            background-color: white;
        }
        h2 {
            background-color: white;
            u{
                text-decoration: underline;
                text-decoration-color: #F8C76B;
                text-underline-offset: 7px;
            }
        }
        .titulo-footer {
            color: #98A2B3;
            padding-bottom: 16px;
        }
        div {
            padding-right: 0px;
            background-color: white;
        }
        
    }
    

    /* Productos mobile */
    
    #projectsSection{
        margin-left: 20px;
        margin-right: 20px;
        .container{
            .card-puie {
                margin-bottom: 30px;
                padding: 32px;    
                border-radius: 8px;
                border-style: none;
                h4 {
                    padding-bottom: 6px;
                }
                p {
                    padding-bottom: 0px;
                }
            }
        }
    }
    

     /* Footer mobile */

    .derechos-reservados {
        width: 100%;
        padding: 18px 16px;
        p {
            font-size: 14px;
            font-weight: 400;
            color: #98A2B3;
        }
    }
    
}